### Scifi TV Shows

In [2]:
!unzip '/content/drive/MyDrive/Visual Story Telling/Dataset - Story Generation/scifiTVshows.zip'

Archive:  /content/drive/MyDrive/Visual Story Telling/Dataset - Story Generation/scifiTVshows.zip
   creating: OriginalStoriesSeparated/
  inflating: OriginalStoriesSeparated/Babylon5.txt
  inflating: OriginalStoriesSeparated/DoctorWhoSpinoffs.txt
  inflating: OriginalStoriesSeparated/DoctorWho.txt
  inflating: OriginalStoriesSeparated/Fringe.txt
  inflating: OriginalStoriesSeparated/Farscape.txt
  inflating: OriginalStoriesSeparated/Futurama.txt
  inflating: OriginalStoriesSeparated/Stargate.txt
  inflating: OriginalStoriesSeparated/StarTrek.txt
  inflating: OriginalStoriesSeparated/StarWarsBooks.txt
  inflating: OriginalStoriesSeparated/StarWarsRebels.txt
  inflating: OriginalStoriesSeparated/XFiles.txt
  inflating: scifi-test.txt
  inflating: scifi-train.txt
  inflating: scifi-val.txt

### CMU Summaries

In [1]:
import tarfile
my_tar = tarfile.open('/content/drive/MyDrive/Visual Story Telling/Dataset - Story Generation/MovieSummaries.tar.gz')
my_tar.extractall('./CMU_Summaries')
my_tar.close()

In [ ]:
with open('/content/CMU_Summaries/MovieSummaries/README.txt','r') as f:
  readme_data = f.read()
print(readme_data)

In [17]:
import pandas as pd
df_movie_meta = pd.read_table('/content/CMU_Summaries/MovieSummaries/movie.metadata.tsv', header=None, names = ['Wikipedia movie ID','Freebase movie ID','Movie name','Movie release date','Movie box office revenue','Movie runtime','Movie language','Movie countries','Movie genres'])

In [87]:
df_movie_meta

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie language,Movie countries,Movie genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}"
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0..."
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}"
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ..."
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""..."

In [19]:
df_charac_meta = pd.read_table('/content/CMU_Summaries/MovieSummaries/character.metadata.tsv',header=None, names = ['Wikipedia movie ID', 'Freebase movie ID','Movie release date','Character name','Actor date of birth','Actor gender','Actor height','Actor ethnicity','Actor name','Actor age at movie release','Freebase character/actor map ID','Freebase character ID','Freebase actor ID'])

In [88]:
df_charac_meta

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character name,Actor date of birth,Actor gender,Actor height,Actor ethnicity,Actor name,Actor age at movie release,Freebase character/actor map ID,Freebase character ID,Freebase actor ID
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg
...,...,...,...,...,...,...,...,...,...,...,...,...,...
450664,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406c,/m/0kr406h,/m/0b_vcv
450665,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr405_,/m/0kr4090,/m/0bx7_j
450666,28308153,/m/0cp05t9,1957,NaN,1941-11-18,M,1.730,/m/02w7gg,David Hemmings,15.0,/m/0g8ngmc,NaN,/m/022g44
450667,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,/m/0g8ngmj,NaN,/m/0g8ngmm
450668,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,/m/0g8ngmw,NaN,/m/0btz19d

In [21]:
with open('/content/CMU_Summaries/MovieSummaries/plot_summaries.txt','r') as f:
  summaries = f.read()

In [22]:
summaries = summaries.split('\n')

In [ ]:
summaries

In [26]:
df_summaries = pd.DataFrame(columns=['Wikipedia movie ID', 'Summary'])

In [27]:
df_summaries['Summary'] = summaries

In [81]:
def sep_id(x):
  return x.split('\t')[0]
def sep_summary(x):
  try:
    return x.split('\t')[1]
  except:
    return None

In [82]:
df_summaries['Wikipedia movie ID']  = df_summaries['Summary'].apply(sep_id)
df_summaries['Summary'] = df_summaries['Summary'].apply(sep_summary)

In [83]:
df_summaries.dropna(inplace=True)

In [84]:
df_summaries.reset_index(inplace=True, drop=True)

In [ ]:
#Combining movie summaries with other information - movie and character metadata

In [91]:
df_summaries = df_summaries.assign(Genre="", Movie_Name="",Characters="")

In [92]:
df_summaries

,Wikipedia movie ID,Summary,Genre,Movie_Name,Characters
0,23890098,"Shlykov, a hard-working taxi driver and Lyosha...",,,
1,31186339,The nation of Panem consists of a wealthy Capi...,,,
2,20663735,Poovalli Induchoodan is sentenced for six yea...,,,
3,2231378,"The Lemon Drop Kid , a New York City swindler,...",,,
4,595909,Seventh-day Adventist Church pastor Michael Ch...,,,
...,...,...,...,...,...
42301,34808485,"The story is about Reema , a young Muslim scho...",,,
42302,1096473,"In 1928 Hollywood, director Leo Andreyev look...",,,
42303,35102018,American Luthier focuses on Randy Parsons’ tra...,,,
42304,8628195,"Abdur Rehman Khan , a middle-aged dry fruit se...",,,
42305,6040782,1940 - Operation Dynamo has just taken place. ...,,,

In [104]:
labels = []
for idx, row in df_summaries.iterrows():
  # for idx2, row2 in df_movie_meta.iterrows():
    #Get index and then assign values, avoid the for loop and if condition (do the same for characters)
    # if row2['Wikipedia movie ID'] == row['Wikipedia movie ID']:
      # df_summaries['Movie_Name'].iloc[idx] = row2['Movie name']
      # df_summaries['Genre'].iloc[idx] = row2['Movie genres']
      # break
  try: 
    index = df_movie_meta['Wikipedia movie ID'].values.tolist().index(int(row['Wikipedia movie ID']))
    df_summaries['Movie_Name'].iloc[idx] = df_movie_meta['Movie name'].iloc[index]
    df_summaries['Genre'].iloc[idx] = df_movie_meta['Movie genres'].iloc[index]
  except:
    labels.append(idx)

In [ ]:
labels

In [ ]:
len(labels)

In [114]:
df_summaries

,Wikipedia movie ID,Summary,Genre,Movie_Name,Characters
0,23890098,"Shlykov, a hard-working taxi driver and Lyosha...","{""/m/07s9rl0"": ""Drama"", ""/m/03q4nz"": ""World ci...",Taxi Blues,
1,31186339,The nation of Panem consists of a wealthy Capi...,"{""/m/03btsm8"": ""Action/Adventure"", ""/m/06n90"":...",The Hunger Games,
2,20663735,Poovalli Induchoodan is sentenced for six yea...,"{""/m/04t36"": ""Musical"", ""/m/02kdv5l"": ""Action""...",Narasimham,
3,2231378,"The Lemon Drop Kid , a New York City swindler,...","{""/m/06qm3"": ""Screwball comedy"", ""/m/01z4y"": ""...",The Lemon Drop Kid,
4,595909,Seventh-day Adventist Church pastor Michael Ch...,"{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",A Cry in the Dark,
...,...,...,...,...,...
42202,34808485,"The story is about Reema , a young Muslim scho...","{""/m/0bj8m2"": ""Children's""}",Oomakkuyil Padumbol,
42203,1096473,"In 1928 Hollywood, director Leo Andreyev look...","{""/m/06ppq"": ""Silent film"", ""/m/0219x_"": ""Indi...",The Last Command,
42204,35102018,American Luthier focuses on Randy Parsons’ tra...,"{""/m/02hmvc"": ""Short Film"", ""/m/04rlf"": ""Music...",Randy Parsons: American Luthier,
42205,8628195,"Abdur Rehman Khan , a middle-aged dry fruit se...","{""/m/07s9rl0"": ""Drama""}",Kabuliwala,
42206,6040782,1940 - Operation Dynamo has just taken place. ...,"{""/m/01z4y"": ""Comedy""}",Dad's Army,

In [113]:
df_summaries.drop(index=labels, axis=0, inplace=True)
df_summaries.reset_index(drop=True, inplace=True)

In [116]:
labels=[]
for idx, row in df_summaries.iterrows():
  index=0
  check = True
  # for idx2, row2 in df_charac_meta.iterrows():
  #   if row2['Wikipedia movie ID'] == row['Wikipedia movie ID']:
  #     df_summaries['Characters'].iloc[idx] = df_summaries['Characters'].iloc[idx]+row2['Character name']
  try: 
    while check:
      index = df_charac_meta['Wikipedia movie ID'].values.tolist()[index:].index(int(row['Wikipedia movie ID']))
      df_summaries['Characters'].iloc[idx] = df_summaries['Characters'].iloc[idx] + df_charac_meta['Character name'].iloc[index]
      check = False
  except:
    if check:
      labels.append(idx)

In [117]:
df_summaries

,Wikipedia movie ID,Summary,Genre,Movie_Name,Characters
0,23890098,"Shlykov, a hard-working taxi driver and Lyosha...","{""/m/07s9rl0"": ""Drama"", ""/m/03q4nz"": ""World ci...",Taxi Blues,
1,31186339,The nation of Panem consists of a wealthy Capi...,"{""/m/03btsm8"": ""Action/Adventure"", ""/m/06n90"":...",The Hunger Games,Foxface
2,20663735,Poovalli Induchoodan is sentenced for six yea...,"{""/m/04t36"": ""Musical"", ""/m/02kdv5l"": ""Action""...",Narasimham,M.K. Menon
3,2231378,"The Lemon Drop Kid , a New York City swindler,...","{""/m/06qm3"": ""Screwball comedy"", ""/m/01z4y"": ""...",The Lemon Drop Kid,
4,595909,Seventh-day Adventist Church pastor Michael Ch...,"{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",A Cry in the Dark,
...,...,...,...,...,...
42202,34808485,"The story is about Reema , a young Muslim scho...","{""/m/0bj8m2"": ""Children's""}",Oomakkuyil Padumbol,
42203,1096473,"In 1928 Hollywood, director Leo Andreyev look...","{""/m/06ppq"": ""Silent film"", ""/m/0219x_"": ""Indi...",The Last Command,
42204,35102018,American Luthier focuses on Randy Parsons’ tra...,"{""/m/02hmvc"": ""Short Film"", ""/m/04rlf"": ""Music...",Randy Parsons: American Luthier,
42205,8628195,"Abdur Rehman Khan , a middle-aged dry fruit se...","{""/m/07s9rl0"": ""Drama""}",Kabuliwala,Lakshmi
42206,6040782,1940 - Operation Dynamo has just taken place. ...,"{""/m/01z4y"": ""Comedy""}",Dad's Army,

In [118]:
labels

[0,
 3,
 4,
 5,
 9,
 10,
 12,
 13,
 14,
 15,
 17,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 31,
 36,
 38,
 39,
 43,
 44,
 45,
 48,
 50,
 51,
 53,
 54,
 55,
 56,
 58,
 59,
 62,
 63,
 65,
 66,
 67,
 68,
 71,
 73,
 74,
 75,
 77,
 78,
 79,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 90,
 96,
 98,
 99,
 100,
 103,
 104,
 106,
 107,
 109,
 110,
 111,
 112,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 125,
 130,
 131,
 132,
 133,
 134,
 135,
 137,
 138,
 142,
 143,
 144,
 145,
 147,
 148,
 150,
 151,
 152,
 153,
 154,
 157,
 158,
 162,
 163,
 164,
 166,
 167,
 169,
 171,
 173,
 175,
 176,
 178,
 180,
 182,
 183,
 184,
 187,
 188,
 189,
 191,
 193,
 194,
 195,
 196,
 197,
 198,
 200,
 201,
 203,
 204,
 205,
 206,
 208,
 211,
 212,
 213,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 225,
 226,
 227,
 228,
 229,
 231,
 232,
 233,
 235,
 237,
 238,
 239,
 240,
 242,
 243,
 246,
 247,
 248,
 249,
 253,
 254,
 255,
 256,
 257,
 258,
 260,
 262,
 263,
 264,
 265,
 266,
 269,
 270,
 272,
 274,
 275,
 276,
 277,
 278,
 280,
 283,
 284,
 285,
 287,
 289,
 291,
 293,
 295,
 296,
 297,
 300,
 301,
 302,
 303,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 317,
 318,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 329,
 330,
 332,
 333,
 334,
 335,
 337,
 338,
 339,
 340,
 343,
 346,
 348,
 349,
 351,
 352,
 353,
 354,
 355,
 356,
 360,
 361,
 362,
 364,
 366,
 367,
 369,
 373,
 374,
 375,
 377,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 388,
 390,
 391,
 393,
 395,
 397,
 399,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 414,
 416,
 417,
 418,
 421,
 425,
 426,
 427,
 429,
 430,
 431,
 432,
 435,
 436,
 437,
 438,
 440,
 442,
 443,
 444,
 446,
 447,
 449,
 450,
 452,
 454,
 455,
 456,
 457,
 458,
 460,
 461,
 462,
 464,
 465,
 466,
 469,
 471,
 472,
 473,
 474,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 488,
 489,
 490,
 491,
 495,
 498,
 499,
 503,
 504,
 505,
 508,
 509,
 510,
 511,
 513,
 514,
 515,
 516,
 519,
 520,
 521,
 522,
 523,
 525,
 526,
 530,
 532,
 533,
 534,
 536,
 537,
 538,
 539,
 540,
 542,
 546,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 569,
 570,
 571,
 572,
 574,
 575,
 576,
 577,
 580,
 584,
 586,
 588,
 589,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 600,
 602,
 603,
 604,
 609,
 612,
 613,
 614,
 616,
 617,
 619,
 620,
 621,
 624,
 625,
 627,
 628,
 629,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 642,
 643,
 644,
 645,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 659,
 660,
 662,
 663,
 664,
 666,
 667,
 671,
 672,
 674,
 675,
 676,
 678,
 680,
 681,
 682,
 684,
 685,
 691,
 692,
 693,
 694,
 695,
 697,
 699,
 700,
 701,
 702,
 704,
 705,
 707,
 708,
 709,
 710,
 711,
 712,
 715,
 717,
 721,
 722,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 735,
 739,
 740,
 741,
 743,
 744,
 745,
 746,
 748,
 750,
 752,
 756,
 758,
 761,
 762,
 763,
 764,
 765,
 766,
 768,
 769,
 770,
 774,
 776,
 777,
 780,
 781,
 782,
 783,
 784,
 785,
 789,
 790,
 792,
 793,
 795,
 797,
 799,
 801,
 803,
 804,
 809,
 810,
 811,
 813,
 817,
 819,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 833,
 835,
 836,
 837,
 838,
 839,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 850,
 851,
 853,
 854,
 855,
 856,
 857,
 859,
 863,
 865,
 866,
 867,
 869,
 870,
 871,
 873,
 874,
 875,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 886,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 905,
 906,
 908,
 909,
 910,
 912,
 914,
 916,
 921,
 922,
 923,
 924,
 925,
 926,
 930,
 931,
 933,
 934,
 936,
 937,
 938,
 939,
 941,
 942,
 945,
 946,
 947,
 948,
 949,
 950,
 952,
 954,
 955,
 956,
 957,
 958,
 960,
 961,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 978,
 979,
 980,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 991,
 992,
 994,
 995,
 996,
 997,
 999,
 1001,
 1002,
 1003,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1028,
 1029,
 1032,
 1033,
 1034,
 1038,
 1040,
 1041,
 1043,
 1045,
 1046,
 1048,
 1050,
 1051,
 1053,
 1054,
 1055,
 1057,
 1059,
 1060,
 1061,
 1062,
 1063,
 1065,
 1066,
 1067,
 1069,
 1070,
 1071,
 1073,
 1075,
 1078,
 1079,
 1081,
 1082,
 1084,
 1085,
 1088,
 1090,
 1091,
 1093,
 1095,
 1096,
 1097,
 1098,
 1100,
 1101,
 1102,
 1104,
 1105,
 1107,
 1108,
 1109,
 1110,
 1111,
 1112,
 1113,
 1115,
 1116,
 1118,
 1119,
 1120,
 1122,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1132,
 1133,
 1134,
 1136,
 1139,
 1140,
 1141,
 1142,
 1144,
 1145,
 1148,
 1152,
 1153,
 1154,
 1155,
 1157,
 1159,
 1162,
 1163,
 1165,
 1166,
 1174,
 1175,
 1176,
 1177,
 1178,
 1179,
 1181,
 1184,
 1186,
 1187,
 1189,
 1191,
 1192,
 1195,
 1196,
 1197,
 1198,
 1199,
 1200,
 1201,
 1203,
 1204,
 1205,
 1207,
 1208,
 1209,
 1210,
 1211,
 1213,
 1214,
 1215,
 1218,
 1219,
 1220,
 1222,
 1223,
 1225,
 1227,
 1229,
 1230,
 1232,
 1233,
 1236,
 1237,
 1238,
 1240,
 1241,
 1242,
 1243,
 1244,
 1245,
 1246,
 1247,
 1248,
 1249,
 1250,
 1251,
 1252,
 1253,
 1254,
 1255,
 1256,
 1257,
 1259,
 1260,
 1264,
 1266,
 1267,
 1268,
 1270,
 1271,
 1274,
 1275,
 1276,
 1278,
 1281,
 1282,
 1283,
 1285,
 1288,
 1293,
 1297,
 1298,
 1299,
 1301,
 1302,
 1303,
 1304,
 1306,
 1311,
 1312,
 1313,
 1314,
 1316,
 1317,
 1318,
 1320,
 1323,
 1325,
 1326,
 1327,
 1328,
 1329,
 1330,
 1332,
 1333,
 1334,
 1336,
 1337,
 1338,
 1339,
 1340,
 1343,
 1345,
 1346,
 1348,
 1349,
 1350,
 1351,
 1353,
 1356,
 1357,
 1358,
 1360,
 1363,
 1365,
 1368,
 1369,
 1370,
 1373,
 1378,
 1379,
 1380,
 1381,
 1382,
 1384,
 1385,
 1386,
 1388,
 1389,
 1390,
 1392,
 1393,
 1394,
 1395,
 1396,
 1397,
 1398,
 1399,
 1401,
 1402,
 1403,
 1404,
 1405,
 1406,
 1407,
 1408,
 1409,
 1410,
 1411,
 1412,
 1413,
 1415,
 1417,
 1418,
 1421,
 1422,
 1424,
 1425,
 1426,
 1427,
 1428,
 1429,
 1430,
 1431,
 1432,
 1433,
 1435,
 1438,
 1439,
 1441,
 1442,
 1443,
 1446,
 1447,
 1448,
 1449,
 1450,
 1451,
 1453,
 1454,
 1455,
 1457,
 1460,
 1463,
 1466,
 1467,
 1469,
 1470,
 1472,
 1473,
 1474,
 1475,
 1476,
 1477,
 1482,
 1483,
 1487,
 1488,
 1489,
 1490,
 1491,
 1492,
 1493,
 1497,
 1498,
 1499,
 1501,
 ...]