### Scifi TV Shows

In [2]:
!unzip '/content/drive/MyDrive/Visual Story Telling/Dataset - Story Generation/scifiTVshows.zip'

Archive:  /content/drive/MyDrive/Visual Story Telling/Dataset - Story Generation/scifiTVshows.zip
   creating: OriginalStoriesSeparated/
  inflating: OriginalStoriesSeparated/Babylon5.txt
  inflating: OriginalStoriesSeparated/DoctorWhoSpinoffs.txt
  inflating: OriginalStoriesSeparated/DoctorWho.txt
  inflating: OriginalStoriesSeparated/Fringe.txt
  inflating: OriginalStoriesSeparated/Farscape.txt
  inflating: OriginalStoriesSeparated/Futurama.txt
  inflating: OriginalStoriesSeparated/Stargate.txt
  inflating: OriginalStoriesSeparated/StarTrek.txt
  inflating: OriginalStoriesSeparated/StarWarsBooks.txt
  inflating: OriginalStoriesSeparated/StarWarsRebels.txt
  inflating: OriginalStoriesSeparated/XFiles.txt
  inflating: scifi-test.txt
  inflating: scifi-train.txt
  inflating: scifi-val.txt

### CMU Summaries

In [1]:
import tarfile
my_tar = tarfile.open('/content/drive/MyDrive/Visual Story Telling/Dataset - Story Generation/MovieSummaries.tar.gz')
my_tar.extractall('./CMU_Summaries')
my_tar.close()

In [ ]:
with open('/content/CMU_Summaries/MovieSummaries/README.txt','r') as f:
  readme_data = f.read()
print(readme_data)

In [17]:
import pandas as pd
df_movie_meta = pd.read_table('/content/CMU_Summaries/MovieSummaries/movie.metadata.tsv', header=None, names = ['Wikipedia movie ID','Freebase movie ID','Movie name','Movie release date','Movie box office revenue','Movie runtime','Movie language','Movie countries','Movie genres'])

In [87]:
df_movie_meta

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie language,Movie countries,Movie genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}"
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0..."
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}"
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ..."
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""..."

In [19]:
df_charac_meta = pd.read_table('/content/CMU_Summaries/MovieSummaries/character.metadata.tsv',header=None, names = ['Wikipedia movie ID', 'Freebase movie ID','Movie release date','Character name','Actor date of birth','Actor gender','Actor height','Actor ethnicity','Actor name','Actor age at movie release','Freebase character/actor map ID','Freebase character ID','Freebase actor ID'])

In [ ]:
df_charac_meta

In [21]:
with open('/content/CMU_Summaries/MovieSummaries/plot_summaries.txt','r') as f:
  summaries = f.read()

In [22]:
summaries = summaries.split('\n')

In [ ]:
summaries

In [26]:
df_summaries = pd.DataFrame(columns=['Wikipedia movie ID', 'Summary'])

In [27]:
df_summaries['Summary'] = summaries

In [81]:
def sep_id(x):
  return x.split('\t')[0]
def sep_summary(x):
  try:
    return x.split('\t')[1]
  except:
    return None

In [82]:
df_summaries['Wikipedia movie ID']  = df_summaries['Summary'].apply(sep_id)
df_summaries['Summary'] = df_summaries['Summary'].apply(sep_summary)

In [83]:
df_summaries.dropna(inplace=True)

In [84]:
df_summaries.reset_index(inplace=True, drop=True)

In [85]:
df_summaries

      Wikipedia movie ID                                            Summary
0               23890098  Shlykov, a hard-working taxi driver and Lyosha...
1               31186339  The nation of Panem consists of a wealthy Capi...
2               20663735  Poovalli Induchoodan  is sentenced for six yea...
3                2231378  The Lemon Drop Kid , a New York City swindler,...
4                 595909  Seventh-day Adventist Church pastor Michael Ch...
...                  ...                                                ...
42301           34808485  The story is about Reema , a young Muslim scho...
42302            1096473  In 1928 Hollywood, director Leo Andreyev  look...
42303           35102018  American Luthier focuses on Randy Parsons’ tra...
42304            8628195  Abdur Rehman Khan , a middle-aged dry fruit se...
42305            6040782  1940 - Operation Dynamo has just taken place. ...

[42306 rows x 2 columns]

In [ ]:
#Combining movie summaries with other information - movie and character metadata